{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Nom du tag:{{ tag.name }}</h1>
{% for article in articles%}
        <h2>Article : {{ article.title }}</h2>
{% endfor %}
    </div>


{% endblock %}