{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>

        <h2>{{ article.title }} / {{ article.content }} </h2>

    </div>


{% endblock %}


